{% extends "MProdLicenciaCyPBundle:Page:index.html.twig" %}


{% block cuerpo %}

     {% if app.session.flashBag.has('licenciaForm_message') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('licenciaForm_message') %}
                {{ msg }}
            {% endfor %}

            {% if urlBoletaPago is defined%}
                <input type='button' value='Imprimir Boleta Pago' 
                    onclick="imprimirBoletaPago('{{urlBoletaPago}}')">
            {% endif %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('licenciaForm_message_error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('licenciaForm_message_error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% block  breadcrumb %}
        {% set breadoption = { 'Inicio': 'path_home', 'Nueva Licencia': '#'} %}
        {{parent()}}
    {% endblock%}

    <div class="row form">        
            <h3>Datos de la licencia</h3>
            <div class="row">
                <div class="fourcol">
                    <div class="ui-widget">
                        <div style="margin-top: 20px; margin-bottom: 20px; padding: 10px;" class="ui-state-highlight ui-corner-all">
                            <p>
                                <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"> </span> <strong>

                                    Ayuda General: <br>
                                </strong>

                                <br>
                            Al generar la licencia usted es responsable de conocer la normativa que regula la actividad en la provincia de Santa Fe.

                            </p>
                        </div>
                    </div>
                </div>               
                    {{ form_start(form) }}                                                                
                       <div class="eightcol last">                            
                            <div id="accordion">                            
                                <h3>Terminos y condiciones</h3>   
                                <div id="divTerminosYCondiciones">
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <input type='button' value='Aceptar Terminos' onclick="step2()">
                                </div>    
                                
                                <h3>Complete sus Datos</h3>   
                                <div id="divBusquedaPersona">
                                    Contenido
                                    {{ form_row(form.persona.tipoDocumento) }}
                                     {{ form_row(form.persona.numeroDocumento) }}
                                     {{ form_row(form.persona.sexo) }}
                                     <input type='button' value='Buscar' onclick="buscarPersona()">
                                </div>

                                 <h3>Datos de la licencia</h3>
                                 <div id="divFormularioLicencia">  
                                                         
                                    <div class="ui-widget">                                
                                        <div style="padding: 10px;">                                        
                                                                                   
                                                    <div>
                                                    </div>
                                            {{ form_row(form.persona.provincia) }}
                                            <div id="localidad">
                                                {{ form_row(form.persona.localidad) }}
                                            </div>
                                            <div id="localidadOtraProvincia">
                                                {{ form_row(form.persona.localidadOtraProvincia) }}
                                            </div>
                                            {{form_rest(form)}}                                            
                                            <input type='submit' value='Guardar'>
                                        </div>
                                    </div>
                                  </div>
                            </div>     
                        </div>                                                   
                               
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
  
    <script language = "javascript"  src = "{{ asset('js/licencia.js') }}">          
    </script> 

{% endblock %}      