{% extends "MProdLicenciaCyPBundle:Page:index.html.twig" %}

{% block cuerpo %}

     {% if app.session.flashBag.has('licenciaForm_message') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('licenciaForm_message') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}    
    <div class="row">
    </div>
    {% block  breadcrumb %}
    {% set breadoption = { 'Inicio': 'path_home', 'Detalle de Licencia Generada': '#'} %}
    {{parent()}}
    {% endblock %}

    {% block cardHeader %}
         {% if urlBoletaPago is defined and urlBoletaPago is not empty  %}
          <div class="row elevencol">
                <input style="float: right !important" type='button' value='Imprimir Boleta Pago' 
                    onclick="imprimirBoletaPago('{{urlBoletaPago}}')">
            {% endif %}
        </div>
    {% endblock %}

    <div class="row form">
        <div class="col-lg-12">
            <div class="card bg-light mb-12">
                {% block cardBody %}
               {{ form_start(form) }} 
                {{ form_widget(form) }} 
               {{ form_end(form) }}
                {% endblock %}
            </div>
        </div>
    </div>
    {% if urlBoletaPago is defined and urlBoletaPago is not empty  %}
          <div class="row elevencol">
                <input style="float: right !important" type='button' value='Imprimir Boleta Pago' 
                    onclick="imprimirBoletaPago('{{urlBoletaPago}}')">
            {% endif %}
        </div>
{% endblock %}

    {% block javascripts %}
        {{parent()}}
    
        <script language = "javascript"  src = "{{ asset('js/licencia.js') }}">          
        </script> 

    {% endblock %}      