{# empty Twig template #}
{% extends "MProdLicenciaCyPBundle:Page:index.html.twig" %}

{% block styles %}
    {{parent()}}
{% endblock %}

{% block cuerpo %}
    <fieldset>

        {# Esto es para el mensaje flash. #}
        {% for flash_message in app.session.flashBag.get('contraseña') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="fourcol">
            <div class="ui-widget">
                <div style="margin-top: 20px; margin-bottom: 20px; padding: 10px;" class="ui-state-highlight ui-corner-all">
                    <p>
                        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"> </span> <strong>

                            Ayuda General: <br>
                        </strong>
                        {{mensaje}}

                    </p>
                </div>
            </div>
        </div>

        <div class=" eightcol">

            <div class="form row">
                {% embed  'ThemeAplicativoBundle:Componentes:tabla.html.twig' %}
                    {% block TituloTabla %}Usuario{% endblock %}
                    {% block headerTabla %}
                        <td class="columns-dest">Campo</td>
                        <td class="columns-dest">Datos</td>

                    {% endblock %}

                    {% block cuerpoTabla %}
                        <tr>
                            <td>Nombre:</td> <td>{{app.user.nombre}}</td>

                        </tr>
                        <tr>
                            <td>Apellido:</td> <td>{{app.user.apellido}}</td>

                        </tr>
                        <tr>
                            <td>Nombre de Usuario:</td> <td>{{app.user.email}}</td>

                        </tr>
                    {% endblock %}

                {% endembed %}
            </div>
            <div class="form row">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

        </div>

    </fieldset>
{% endblock %}    

