{% extends 'PetkoparaCrudGeneratorBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - comprobante
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View comprobante <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ comprobante.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Monto</strong></p>
        <p>
            {{ comprobante.monto }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Recargosegundovencimiento</strong></p>
        <p>
            {{ comprobante.recargoSegundoVencimiento }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Recargoprimervencimiento</strong></p>
        <p>
            {{ comprobante.recargoPrimerVencimiento }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Clientesap</strong></p>
        <p>
            {{ comprobante.clienteSap }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Letraservicio</strong></p>
        <p>
            {{ comprobante.letraServicio }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Rendicionnumero</strong></p>
        <p>
            {{ comprobante.rendicionNumero }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Fechapago</strong></p>
        <p>
            {% if comprobante.fechaPago %}{{ comprobante.fechaPago|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Primervencimiento</strong></p>
        <p>
            {% if comprobante.primerVencimiento %}{{ comprobante.primerVencimiento|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Segundovencimiento</strong></p>
        <p>
            {% if comprobante.segundoVencimiento %}{{ comprobante.segundoVencimiento|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Numerocodigobarra</strong></p>
        <p>
            {{ comprobante.numeroCodigoBarra }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Createdat</strong></p>
        <p>
            {% if comprobante.createdAt %}{{ comprobante.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('comprobante') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('comprobante_edit', { 'id':  comprobante.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('comprobante_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('comprobante_delete', { 'id': comprobante.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

